<div class="main-container">
  <div class="first-container">
    <div class="">
      <img src="img/alert_logo_2.png" alt="Alert Logo" width="250rem"/>
    </div>
    <h1 class="title">Bienvenido!</h1>
    <p class="subtitle">Por favor ingrese sus datos para comenzar</p>
  </div>
  <div class="second-container">
    <p class="form-title">Iniciar sesión</p>
    <div class="form-input-container flex-column">
      <input [(ngModel)]="user" class="form-input" type="text" placeholder="Email">
      <div class="password-container">
        <input  [(ngModel)]="password" class="form-input password-input" [type]="passwordTextType? 'text' : 'password'"  placeholder="Contraseña">
      <img class="toggle-password" [src]="passwordTextType ? 'icons/eye.svg' : 'icons/eye-slash'" (click)="togglePasswordTextType()">
    </div>
    <div class="form-link">
      <a href="#">
        Olvidé mi contraseña
      </a>
    </div>
    <button type="submit" (click)="login()" class="submit-button">Acceder</button>
  </div>
  <svg id="visual" viewBox="0 0 960 200" width="960" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 148L26.7 149.2C53.3 150.3 106.7 152.7 160 146.5C213.3 140.3 266.7 125.7 320 124.7C373.3 123.7 426.7 136.3 480 145.7C533.3 155 586.7 161 640 153C693.3 145 746.7 123 800 118.2C853.3 113.3 906.7 125.7 933.3 131.8L960 138L960 201L933.3 201C906.7 201 853.3 201 800 201C746.7 201 693.3 201 640 201C586.7 201 533.3 201 480 201C426.7 201 373.3 201 320 201C266.7 201 213.3 201 160 201C106.7 201 53.3 201 26.7 201L0 201Z" fill="#ffffff" stroke-linecap="round" stroke-linejoin="miter"></path></svg>
</div>
