/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-center{
  display: flex;
  justify-content: center;
}
